.menu {
  float: right;
  color: white;
}
.menu button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
.nav-3 {
  position: relative;
}
.cancel {
  line-height: 80px;
  text-align: right;

  display: none;
}
.cancel button {
  background-color: transparent;
  border: none;
  line-height: 80px;
  font-size: 25px;
  padding: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .collections {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    height: auto;
    gap: 1rem;
  }
  .img {
    flex: 1 1 calc(30% - 2rem);
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    height: 100%;
  }
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 992px) {
  .menu button {
    display: block;
    line-height: 80px;
  }
  .navigation .group-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10rem;
  }
  .navigation .group-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #007bff; */
    margin-bottom: 5px;
    line-height: 10px;
  }
  .nav-2 {
    display: block;
    background-color: white;
    position: absolute;
    top: 0;
    /* left: -4rem; */
    left: -100rem;
    width: 50%;
    overflow-y: scroll;
    height: 100svh;
    z-index: 999;
    transition: all 0.5s ease-in-out;
  }
  .nav-2.active {
    left: -4rem;
  }
  .navigation .group-list a {
    color: #333;
    background-color: #33333325;
    padding: 1rem;
    width: 100%;
    margin: auto;
  }
  .navigation .search-btn {
    color: #252525;
    text-align: center;
    display: none;
  }
  .cancel {
    display: block;
    cursor: pointer;
  }
  .h-text h2 {
    font-size: 77px;
    text-wrap: nowrap;
  }
  .heading .h-text {
    width: 100%;
  }
  .h-text p {
    width: 100%;
  }
  /* .ig-carousel .outer-carousel {
    grid-template-columns: repeat(4, 1fr);
  }
  .outer-carousel .items:nth-of-type(5),
  .outer-carousel .items:nth-of-type(6) {
    display: none;
  } */
  .view-more {
    margin-top: 5rem;
  }
}
@media (max-width: 576px) {
  .h-text h2 {
    font-size: 2.5rem;
  }
  .heading {
    padding: 0 3rem;
  }
  .collections {
    display: grid;
    gap: 1rem;
  }
  .img {
    margin: auto;
  }
}
